---
// Astro db
import { db, eq, Category, Brand, Size, Product } from "astro:db";

// Astro tools
import type { GetStaticPaths } from "astro";
import BaseLayout from "@layouts/BaseLayout.astro";

// Utils
import { slugify } from "@libs/utils";

// Components
import Section from "@ui/Section.astro";
import BillboardBody from "@components/billboard/BillboardBody.astro";
import BillboardHeader from "@components/billboard/BillboardHeader.astro";

// Routes
export const getStaticPaths = (async () => {
	const categories = await db.select().from(Category);

	return categories.map((category) => ({
		params: { categories: slugify(category.name) },
		props: { category },
	}));
}) satisfies GetStaticPaths;

const { category } = Astro.props;

// Data
const products = await db
	.select()
	.from(Product)
	.leftJoin(Brand, eq(Product.brandId, Brand.id))
	.leftJoin(Size, eq(Product.sizeId, Size.id))
	.where(eq(Product.categoryId, category.id));

// Head metadata
const title = category.name;
const description = category.name;
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<BillboardHeader
			id={category.id}
			name={category.name}
			description={category.description}
			imagePath={category.imagePath}
		/>
		<BillboardBody productData={products} />
	</Section>
</BaseLayout>
