---
// Astro tools
import { Image } from "astro:assets";

// Utilities
import { slugify } from "@libs/utils";

// Components
import Heading from "@ui/Heading.astro";

// Types
import type { ImageMetadata } from "astro";
import type { CategoryType } from "src/env";

interface Props {
	category: CategoryType;
}

const { category } = Astro.props;
const { id, name, description, imagePath } = category;

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/*.{jpeg,jpg,png,gif,webp,avif}"
);
if (!images[`/src/assets/${imagePath}`])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp,avif}"`
	);
---

<a
	href=`/${slugify(name)}`
	data-id={id}
	class="card max-w-none overflow-hidden bg-base-300 shadow-xl sm:max-w-md"
>
	<Image
		src={images[`/src/assets/${imagePath}`]()}
		alt={name}
		width={450}
		format="avif"
		class="aspect-square w-full object-cover"
	/>
	<div class="card-body">
		<Heading
			tagName="h2"
			size="h3"
			hclass="card-title capitalize"
			title={name}
		>
			{description}
		</Heading>
	</div>
</a>
