---
//Astro tools
import { GET } from "../../pages/api/categorias";

// Types
import type { CategoryType } from "src/env";

const response = await GET(Astro);
const categories = (await response.json()) as CategoryType[];

// Errors
import { errors } from "src/pages/admin/nueva-subcategoria.astro";
---

<form
	id="new-subcategory-form"
	method="POST"
>
	<div class="flex flex-col items-start gap-4 lg:flex-row">
		<div class="w-full max-w-xs space-y-2">
			<input
				name="name"
				type="text"
				placeholder="Subategoría"
				class="input input-bordered w-full"
			/>
			{errors.name && <p class="flex items-start gap-2 text-sm text-error">{errors.name}</p>}
		</div>
		<div class="w-full max-w-xs space-y-2">
			<textarea
				name="description"
				class="textarea textarea-bordered w-full"
				placeholder="Descripción"
				rows="1"
			></textarea>
			{
				errors.description && (
					<p class="flex items-center gap-2 text-sm text-error">{errors.description}</p>
				)
			}
		</div>
		<div class="w-full max-w-xs space-y-2">
			<input
				name="imagePath"
				type="text"
				placeholder="p.ej., imagen.jpg"
				class="input input-bordered w-full"
			/>
			{
				errors.imagePath && (
					<p class="flex items-center gap-2 text-sm text-error">{errors.imagePath}</p>
				)
			}
		</div>
		<div class="w-full max-w-xs space-y-2">
			<select
				name="categoryId"
				class="select select-bordered w-full"
			>
				<option
					disabled
					selected
					>Selecciona una categoría</option
				>
				{
					categories.map((cat) => (
						<option
							value={cat.id}
							class="capitalize"
						>
							{cat.name}
						</option>
					))
				}
			</select>
			{
				errors.categoryId && (
					<p class="flex items-center gap-2 text-sm text-error">{errors.categoryId}</p>
				)
			}
		</div>
	</div>
	<button
		type="submit"
		class="btn btn-accent mt-4 px-6"
		>Crear</button
	>
</form>

<script>
	// const newSubcatForm = document.querySelector("#new-subcategory-form");

	// newSubcatForm?.addEventListener("submit", (e) => submitFormData(e));

	// const submitFormData = async (e: Event) => {
	// 	e.preventDefault();
	// 	const formData = new FormData(e.target as HTMLFormElement);
	// 	const response = await fetch("/api/subcategorias.json", {
	// 		method: "POST",
	// 		body: formData,
	// 	});
	// 	const data = await response.json();
	// 	console.log(formData);
	// };
</script>
