---
// Astro db
import { db, Category, Subcategory, Brand, Size, Color } from "astro:db";

// Data
const categories = await db.select().from(Category);

const subcategories = await db.select().from(Subcategory);

const brands = await db.select().from(Brand);

const sizes = await db.select().from(Size);

const colors = await db.select().from(Color);
---

<form
	method="POST"
	class="flex flex-col gap-4"
>
	<input
		name="name"
		type="text"
		placeholder="Producto"
		class="input input-bordered w-full max-w-xs"
	/>
	<textarea
		name="description"
		class="textarea textarea-bordered max-w-xs"
		placeholder="Descripción"
	></textarea>
	<select
		name="brandId"
		class="select select-bordered w-full max-w-xs"
	>
		<option
			disabled
			selected
			>Selecciona una marca</option
		>
		{brands.map((brand) => <option value={brand.id}>{brand.name}</option>)}
	</select>
	<select
		name="categoryId"
		class="select select-bordered w-full max-w-xs"
	>
		<option
			disabled
			selected
			>Selecciona una categoría</option
		>
		{
			categories.map((category) => (
				<option value={category.id}>{category.name}</option>
			))
		}
	</select>
	<select
		name="subcategoryId"
		class="select select-bordered w-full max-w-xs"
	>
		<option
			disabled
			selected
			>Selecciona una subcategoría</option
		>
		{
			subcategories.map((subcategory) => (
				<option value={subcategory.id}>{subcategory.name}</option>
			))
		}
	</select>
	<input
		name="price"
		type="number"
		placeholder="Precio"
		class="input input-bordered w-full max-w-xs"
	/>
	<select
		name="sizeId"
		class="select select-bordered w-full max-w-xs"
	>
		<option
			disabled
			selected
			>Selecciona un tamaño</option
		>
		{sizes.map((size) => <option value={size.id}>{size.description}</option>)}
	</select>
	<select
		name="colorId"
		class="select select-bordered w-full max-w-xs"
	>
		<option
			disabled
			selected
			>Selecciona un color</option
		>
		{
			colors.map((color) => (
				<option value={color.id}>{color.description}</option>
			))
		}
	</select>
	<input
		name="imagePath"
		type="text"
		placeholder="URL imagen"
		class="input input-bordered w-full max-w-xs"
	/>
	<button
		type="submit"
		class="btn btn-primary w-full max-w-xs"
		>Crear producto</button
	>
</form>
