---
// Astro tools
import type { GetStaticPaths } from "astro";
import { GET } from "./api/subcategorias/index";

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Utils
import { slugify } from "@libs/utils";

// Components
import Section from "@ui/Section.astro";
import BillboardBody from "@components/billboard/BillboardBody.astro";
import BillboardHeader from "@components/billboard/BillboardHeader.astro";

// Types
import type { CategoryType, SubcategoryType } from "src/env";

type Subcategory = {
	Subcategory: SubcategoryType;
	Category: CategoryType;
};

// Routes
export const getStaticPaths = (async () => {
	const response = await GET(Astro);
	const subcategories = (await response.json()) as Subcategory[];

	return subcategories.map((subcategory) => ({
		params: {
			subcategories: `${slugify(subcategory.Category.name)}/${slugify(subcategory.Subcategory.name)}/`,
		},
		props: { subcategory },
	}));
}) satisfies GetStaticPaths;

const { subcategory } = Astro.props;

// Product data
const response = await fetch(
	`${Astro.url.origin}/api/productos?subcategoryId=${subcategory.Subcategory.id}`
);
const products = await response.json();

// Head metadata
const title = subcategory.Subcategory.name;
const description = subcategory.Subcategory.description;
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<BillboardHeader category={subcategory.Category} />
		<BillboardBody {products} />
	</Section>
</BaseLayout>
