---
// Astro tools
import type { GetStaticPaths } from "astro";
import { GET } from "./api/categorias";

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Utils
import { slugify } from "@libs/utils";

// Components
import Section from "@ui/Section.astro";
import BillboardBody from "@components/billboard/BillboardBody.astro";
import BillboardHeader from "@components/billboard/BillboardHeader.astro";

// Types
import type { BrandType, CategoryType, ProductType, SizeType } from "src/env";

type Response = {
	Product: ProductType;
	Brand: BrandType;
	Size: SizeType;
};

// Routes
export const getStaticPaths = (async () => {
	const response = await GET(Astro);
	const categories = (await response.json()) as CategoryType[];

	return categories.map((category) => ({
		params: { categories: slugify(category.name) },
		props: { category },
	}));
}) satisfies GetStaticPaths;

const { category } = Astro.props;

// Data
const response = await fetch(`${Astro.url.origin}/api/productos?categoryId=${category.id}`);
const products = (await response.json()) as Response[];

// Head metadata
const title = category.name;
const description = category.name;
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<BillboardHeader {category} />
		<BillboardBody {products} />
	</Section>
</BaseLayout>
