---
// Astro db
import { Brand, db, Product, Category, eq } from "astro:db";

// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";

// Components
import Header from "../components/Header.astro";
import Section from "../components/ui/Section.astro";
import BillboardHeader from "../components/billboard/BillboardHeader.astro";
import BillboardBody from "../components/billboard/BillboardBody.astro";

// Data
const ropa = await db
  .select()
  .from(Product)
  .leftJoin(Brand, eq(Product.brandId, Brand.id))
  .where(eq(Product.categoryId, 1));

const cuidadoPersonal = await db
  .select()
  .from(Product)
  .leftJoin(Brand, eq(Product.brandId, Brand.id))
  .where(eq(Product.categoryId, 2));

const joyeria = await db
  .select()
  .from(Product)
  .leftJoin(Brand, eq(Product.brandId, Brand.id))
  .where(eq(Product.categoryId, 3));

const ropaData = await db.select().from(Category).where(eq(Category.id, 1));

const cuidadoPersonalData = await db
  .select()
  .from(Category)
  .where(eq(Category.id, 2));

const joyeriaData = await db.select().from(Category).where(eq(Category.id, 3));

// Head metadata
const title = "Astro Db Test";
const description = "Proyecto para probar la nueva base de datos de Astro.";
---

<BaseLayout {title} {description}>
  <Header />
  <Section classes="space-y-4 sm:space-y-8">
    <BillboardHeader categoryData={ropaData} />
    <BillboardBody productData={ropa} />
  </Section>
  <Section classes="space-y-4 sm:space-y-8">
    <BillboardHeader categoryData={cuidadoPersonalData} />
    <BillboardBody productData={cuidadoPersonal} />
  </Section>
  <Section classes="space-y-4 sm:space-y-8">
    <BillboardHeader categoryData={joyeriaData} />
    <BillboardBody productData={joyeria} />
  </Section>
</BaseLayout>
