---
// Astro tools
import { Image } from "astro:assets";

// Types
import type { ImageMetadata } from "astro";

interface Props {
	id: number;
	name: string;
	description: string;
	imagePath: string;
}

const { id, name, description, imagePath } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/*.{jpeg,jpg,png,gif,webp}"
);
if (!images[`/src/assets/${imagePath}`])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`
	);
---

<div
	data-id={id}
	class="h-40 sm:h-60 md:h-80 mx-auto bg-base-300 rounded-xl overflow-hidden relative"
>
	<div
		class="flex justify-center items-center absolute w-full h-full bg-black/60 p-8"
	>
		<h2
			class="text-4xl sm:text-5xl text-white text-center font-bold [text-shadow:1px_1px_2px_var(--tw-shadow-color)] shadow-black capitalize"
		>
			{description}
		</h2>
	</div>
	<Image
		src={images[`/src/assets/${imagePath}`]()}
		alt={name}
		width={1200}
		height={320}
		format="avif"
		quality={"low"}
		class="w-full h-full object-cover"
	/>
</div>
