---
// Astro tools
import { Image } from "astro:assets";

// Components
import ProductCard from "./ProductCard.astro";

interface Props {
	billboardTitle: string;
	billboardImg: string;
	billboardAltImg: string;
	productData: {
		Product: {
			id: number;
			name: string;
			description: string;
			brandId: number | null;
			categoryId: number;
			subcategoryId: number;
			price: number;
			image: string;
		};
		Brand: {
			id: number;
			name: string;
		} | null;
	}[];
}

const { billboardTitle, billboardImg, billboardAltImg, productData } =
	Astro.props;
---

<section class="container mx-auto space-y-4 sm:space-y-8 relative">
	<div
		class="h-40 sm:h-60 md:h-80 mx-auto bg-base-300 rounded-xl overflow-hidden relative"
	>
		<div
			class="flex justify-center items-center absolute w-full h-full bg-base-100/30 p-8"
		>
			<h2
				class="text-4xl sm:text-5xl text-white text-center font-bold [text-shadow:1px_1px_2px_var(--tw-shadow-color)] shadow-black"
			>
				{billboardTitle}
			</h2>
		</div>
		<Image
			src={billboardImg}
			alt={billboardAltImg}
			width={1200}
			height={320}
			format="avif"
			quality={"low"}
			class="w-full h-full object-cover"
		/>
	</div>
	<div
		class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-2 sm:gap-4"
	>
		{
			productData.map((product) => (
				<ProductCard
					id={product.Product.id}
					name={product.Product.name}
					description={product.Product.description}
					brand={product.Brand?.name}
					price={product.Product.price}
					image={product.Product.image}
				/>
			))
		}
	</div>
</section>
