---
// Astro tools
import { Image } from "astro:assets";
import Heading from "./ui/Heading.astro";

// Types
import type { ImageMetadata } from "astro";

// Utilities
import { slugify } from "@libs/utils";

interface Props {
	id: string;
	name: string;
	description: string;
	imagePath: string;
}

const { id, name, description, imagePath } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/*.{jpeg,jpg,png,gif}"
);
if (!images[imagePath])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
	);
---

<a
	href={slugify(name)}
	data-id={id}
	class="shadow-xl bg-base-300 overflow-hidden max-w-none sm:max-w-md card"
>
	<Image
		src={images[imagePath]()}
		alt={name}
		width={450}
		format="avif"
		class="w-full aspect-square object-cover"
	/>
	<div class="card-body">
		<Heading
			tagName="h2"
			size="h3"
			hclasses="card-title"
		>
			{name}
		</Heading>
		<p>{description}</p>
	</div>
</a>
