---
// Utilities
import { slugify } from "@libs/utils";

// Types
import type { CategoryType, SubcategoryType } from "src/env";

type Response = {
	Subcategory: SubcategoryType;
	Category: CategoryType;
};

// Data
const response1 = await fetch(`${Astro.url.origin}/api/subcategorias?categoryId=1`);
const ropaSub = (await response1.json()) as Response[];

const response2 = await fetch(`${Astro.url.origin}/api/subcategorias?categoryId=2`);
const cuidadoPersonalSub = (await response2.json()) as Response[];

const response3 = await fetch(`${Astro.url.origin}/api/subcategorias?categoryId=3`);
const joyeriaSub = (await response3.json()) as Response[];
---

<footer class="footer bg-base-200 p-10 text-base-content">
	<nav>
		<h6 class="footer-title uppercase">{ropaSub[0].Category.name}</h6>
		{
			ropaSub.map((sub) => (
				<a
					href={`/${slugify(sub.Category.name)}/${slugify(sub.Subcategory.name)}/`}
					class="link-hover link capitalize"
				>
					{sub.Subcategory.name}
				</a>
			))
		}
	</nav>
	<nav>
		<h6 class="footer-title uppercase">
			{cuidadoPersonalSub[0].Category.name}
		</h6>
		{
			cuidadoPersonalSub.map((sub) => (
				<a
					href={`/${slugify(sub.Category.name)}/${slugify(sub.Subcategory.name)}/`}
					class="link-hover link capitalize"
				>
					{sub.Subcategory.name}
				</a>
			))
		}
	</nav>
	<nav>
		<h6 class="footer-title uppercase">{joyeriaSub[0].Category.name}</h6>
		{
			joyeriaSub.map((sub) => (
				<a
					href={`/${slugify(sub.Category.name)}/${slugify(sub.Subcategory.name)}/`}
					class="link-hover link capitalize"
				>
					{sub.Subcategory.name}
				</a>
			))
		}
	</nav>
	<form>
		<h6 class="footer-title">Promociones</h6>
		<fieldset class="form-control max-w-xs">
			<label
				for="email"
				class="label"
			>
				<span class="label-text"
					>Déjanos tu correo y mantente actualizada con nuestra promociones</span
				>
			</label>
			<div class="join">
				<input
					id="email"
					type="email"
					name="email"
					placeholder="nombre@correo.com"
					class="input join-item input-bordered"
				/>
				<button class="btn btn-accent join-item">Enviar</button>
			</div>
		</fieldset>
	</form>
</footer>
