---
// Render mode
export const prerender = false;

// Astro tools
import { Icon } from "astro-icon/components";
import { GET } from "../api/categorias";

// Types
import type { CategoryType } from "src/env";

// Utilities
import { getFormattedDate } from "@libs/utils";

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import Section from "@ui/Section.astro";
import Heading from "@ui/Heading.astro";
import Button from "@ui/Button.astro";
import ActionButton from "@ui/ActionButton.astro";

// Data
const response = await GET(Astro);
const categories = (await response.json()) as CategoryType[];

// Head metadata
const title = "Categorías";
const description = "Listado de categorías";
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<div class="flex flex-col items-start justify-between gap-8 sm:flex-row sm:items-center">
			<Heading
				tagName="h1"
				size="h1"
				title="Categorías"
			>
				Administra las categorías de tu tienda
			</Heading>
			<Button
				href="/admin/nueva-categoria"
				color="accent"
				style="outline"
			>
				<Icon
					name="lucide:circle-plus"
					size={20}
				/>
				Crear nueva
			</Button>
		</div>
		<div>
			<table class="table table-zebra">
				<thead>
					<tr>
						<th>Categoría / Id</th>
						<th>Descripción</th>
						<th>Imagen</th>
						<th>Fecha</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{
						categories.map((category) => (
							<tr>
								<th>
									<p>{category.name}</p>
									<p class="font-light">{category.id}</p>
								</th>
								<td>{category.description}</td>
								<td>{category.imagePath}</td>
								<td>{getFormattedDate(category.published)}</td>
								<td class="relative">
									<ActionButton id={category.id} />
								</td>
							</tr>
						))
					}
				</tbody>
			</table>
		</div>
	</Section>
</BaseLayout>
