---
// Astro tools
import { Icon } from "astro-icon/components";
import { GET } from "../api/subcategorias";

// Utilities
import { getFormattedDate } from "@libs/utils";

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import Heading from "@components/ui/Heading.astro";
import Section from "@ui/Section.astro";
import Button from "@ui/Button.astro";

// Types
import type { CategoryType, SubcategoryType } from "../../env";
import ActionButton from "@components/ui/ActionButton.astro";

type Response = {
	Subcategory: SubcategoryType;
	Category: CategoryType;
};

// Data
const response = await GET(Astro);
const subcategories = (await response.json()) as Response[];

// Head metadata
const title = "Subcategorías";
const description = "Listado de subcategorías";
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<div class="flex flex-col items-start justify-between gap-8 sm:flex-row sm:items-center">
			<Heading
				tagName="h1"
				size="h1"
				title="Subategorías"
			>
				Administra las subcategorías de tu tienda
			</Heading>
			<Button
				href="/admin/nueva-subcategoria"
				color="accent"
				style="outline"
			>
				<Icon
					name="lucide:circle-plus"
					size={20}
				/>
				Crear nueva
			</Button>
		</div>
		<div>
			<table class="table table-zebra">
				<thead>
					<tr>
						<th>Subcategoría / Id</th>
						<th>Descripción</th>
						<th>Imagen</th>
						<th>Categoría</th>
						<th>Fecha</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{
						subcategories.map((subcategory) => (
							<tr>
								<th>
									<p>{subcategory.Subcategory.name}</p>
									<p class="font-light">{subcategory.Subcategory.id}</p>
								</th>
								<td>{subcategory.Subcategory.description}</td>
								<td>{subcategory.Subcategory.imagePath}</td>
								<td>{subcategory.Category.name}</td>
								<td>{getFormattedDate(subcategory.Subcategory.published)}</td>
								<td class="relative max-w-fit">
									<ActionButton id={subcategory.Subcategory.id} />
								</td>
							</tr>
						))
					}
				</tbody>
			</table>
		</div>
	</Section>
</BaseLayout>
