---
// Astro db
// import { db, Category } from "astro:db";
import { GET } from "../api/subcategorias/index.json";

// Astro tools
import { Icon } from "astro-icon/components";

// Utilities
import { getFormattedDate } from "@libs/utils";

// Layouts
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import Heading from "@components/ui/Heading.astro";
import Section from "@ui/Section.astro";
import Button from "@ui/Button.astro";
import type { CategoryType } from "./categorias.astro";

// Data
// const categories = await db.select().from(Category);
export type SubcategoryType = {
	id: string;
	name: string;
	description: string;
	imagePath: string;
	categoryId: string;
	published: Date;
};

type ResponseType = {
	Subcategory: SubcategoryType;
	Category: CategoryType;
};

const response = await GET(Astro);
const subcategories: ResponseType[] = await response.json();

// Head metadata
const title = "Subcategorías";
const description = "Listado de subcategorías";
---

<BaseLayout
	{title}
	{description}
>
	<Section>
		<div class="flex justify-between items-center">
			<Heading
				tagName="h1"
				size="h1"
				title="Subategorías"
			>
				Administra las subcategorías de tu tienda
			</Heading>
			<Button
				href="/admin/nueva-subcategoria"
				color="accent"
				style="outline"
			>
				<Icon
					name="lucide:circle-plus"
					size={20}
				/>
				Crear nueva
			</Button>
		</div>
		<div class="overflow-x-auto">
			<table class="table table-zebra">
				<!-- head -->
				<thead>
					<tr>
						<th>Subcategoría / Id</th>
						<th>Descripción</th>
						<th>Imagen</th>
						<th>Categoría</th>
						<th>Fecha</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<!-- row 1 -->
					{
						subcategories.map((subcategory) => (
							<tr>
								<th>
									<p>{subcategory.Subcategory.name}</p>
									<p class="font-light">{subcategory.Subcategory.id}</p>
								</th>
								<td>{subcategory.Subcategory.description}</td>
								<td>{subcategory.Subcategory.imagePath}</td>
								<td>{subcategory.Category.name}</td>
								<td>{getFormattedDate(subcategory.Subcategory.published)}</td>
								<td class="relative max-w-fit">
									<Button
										color="primary"
										style="ghost"
										classes="actions-btn"
									>
										<Icon name="lucide:ellipsis-vertical" />
									</Button>
									<ul class="menu bg-base-300 rounded-box max-w-fit absolute right-4 top-full z-10 hidden">
										<li>
											<a
												class="cat-edit"
												data-id={subcategory.Subcategory.id}
											>
												<Icon
													name="lucide:edit"
													class="h-5 w-5"
												/>
												Editar
											</a>
										</li>
										<li>
											<a
												class="cat-del"
												data-id={subcategory.Subcategory.id}
											>
												<Icon
													name="lucide:trash-2"
													class="h-5 w-5"
												/>
												Borrar
											</a>
										</li>
									</ul>
								</td>
							</tr>
						))
					}
				</tbody>
			</table>
		</div>
	</Section>
</BaseLayout>

<script>
	// import { db, eq, Category } from "astro:db";

	// Selectors
	const actionsBtn = document.querySelectorAll(
		".actions-btn"
	) as NodeListOf<HTMLAnchorElement>;

	const subCatDelBtn = document.querySelectorAll(
		".cat-del"
	) as NodeListOf<HTMLAnchorElement>;

	// Show actions menu
	actionsBtn.forEach((btn) =>
		btn.addEventListener("click", () => toggleActionsMenu(btn))
	);

	// Delete functionality
	subCatDelBtn.forEach((btn) =>
		btn.addEventListener("click", () => subcategoryDelete(btn))
	);

	// Functions
	function toggleActionsMenu(btn: HTMLAnchorElement) {
		btn.nextElementSibling?.classList.toggle("hidden");
	}

	async function subcategoryDelete(btn: HTMLAnchorElement) {
		// await db.delete(Category).where(eq(Category.id, btn.dataset.id as string));
		btn.parentElement?.parentElement?.classList.toggle("hidden");

		return await fetch(`/api/subcategorias/${btn.dataset.id}.json`, {
			method: "DELETE",
			headers: {
				"Content-Type": "application/json",
			},
		});
	}
</script>
