---
// Astro tools
import { Image } from "astro:assets";

// Types
import type { ImageMetadata } from "astro";

interface Props {
	name: string;
	description: string;
	brand: string | undefined;
	price: number;
	imagePath: string;
	size: string | undefined;
}

const { name, description, size, price, imagePath, brand } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/*.{jpeg,jpg,png,gif}"
);
if (!images[`/src/assets/${imagePath}`])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
	);
---

<dialog
	id="product-modal"
	class="modal"
>
	<div class="modal-box">
		<form method="dialog">
			<button class="btn btn-sm btn-circle absolute right-2 top-2 z-10"
				>✕</button
			>
		</form>
		<article class="card bg-base-300 shadow-xl overflow-hidden cursor-pointer">
			<Image
				src={images[`/src/assets/${imagePath}`]()}
				alt={name}
				width={700}
				height={900}
				format="avif"
				class="aspect-[3/4] object-cover"
			/>
			<div class="card-body p-2">
				<p>
					<span class="font-semibold text-lg capitalize">{name}</span> - {
						description
					}
				</p>
				{brand && <p class="text-accent font-semibold uppercase">{brand}</p>}
				<p class="font-extrabold text-lg">
					${new Intl.NumberFormat().format(price)}
					<span>{size}</span>
				</p>
			</div>
		</article>
	</div>
</dialog>
